body{
    background-image: url("anhnen.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

    .head{
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
    }
        .banner a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
        }
        .banner a:hover{
            background-color: rgba(94, 49, 49, 0.1);
            padding:10px 10px;
            color:#00c48c;
            box-shadow:0 25px 35px rgb(255, 255, 255, 0.5); 
            /* Tạo vầng sáng xung quanh: box-shadow: độlệchngang độlệchdọc độlan màu; */
        }
        .logo img{
            height: 90px;
        }
        .banner{
            display: flex;
            gap: 50px;
            justify-content: space-evenly;
            list-style: none;
        }

    .Home{
        margin-left: 80px;
        padding-top: 200px;
        width: 25%;
    }
        .Home h3{
            text-transform: uppercase;
            color: #00c48c;
        }
        .Home h1{
            color: white;
            font-size:xx-large;
        }
        .Home p{
            color: #00c48c;
        }
        .nut{
            background-color: #00c48c;
            color: white;
            text-decoration: none;
            padding: 10px 30px;
            border: 1px solid #00c48c;
            border-radius: 30px;
            display: inline-block;
            margin-top: 30px;
        }
        .nut:hover{
            color: #00c48c;
            background-color: white;
        }

    .About{
        margin-top: 80px;
        background-color: white;
        display: flex;
        gap: 50px;
        padding: 20px;
    }
        .left{
            width: 50%;
        }
        .left h3{
            color: #00c48c;
        }
        .right{
            width: 45%;
        }
        .right img{
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

    .Services{
        width:100%;
        overflow:hidden;
        text-align:center;
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("service.jpg");
        background-size: cover;
        background-position: center;
    }
        .slides{
        display:flex;
        width:200%;
        transition:0.5s;
        }
        .group{
        width:50%;
        display:flex;
        }
        .groupitem{
        width:33.33%;
        padding:10px;
        }
        .groupitem img{
        width:100%;
        height:250px;
        object-fit:cover;
        }
        .Services h1{
            color: white;
            padding-top: 50px;
        }
        .slides h2{
            color: #00c48c;
        }
        .slides p{
            color: white;
        }
        input{
        display:none;
        }
        /* chuyển slide */
        #s1:checked ~ .slides{
        transform:translateX(0);
        }
        #s2:checked ~ .slides{
        transform:translateX(-50%);
        }
        /* dots */
        .dots{
        margin-top:20px;
        }
        .dots label{
        width:12px;
        height:12px;
        background:#bbb;
        display:inline-block;
        border-radius:50%;
        margin:5px;
        cursor:pointer;
        }

    .Menu{
        background-color: white;
        padding: 20px 10px;
        text-align: center;
    }
        .menu{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px 5px;
        }
        .menu-item{
        display:flex;
        gap:5px;
        }
        .menu-item img{
        width:80px;
        height:80px;
        border-radius:50%;
        object-fit:cover;
        }
        .title{
        display:flex;
        align-items:center;
        gap:10px;
        width:100%;
        }
        .line{
        flex:1;
        height:1px;
        background:#999;
        }
        .price{
        font-weight:bold;
        }
        .menu-text p{
        margin-top:5px;
        font-size:14px;
        color:#666;
        }

    .Openhour{
        background-image: url("open.jpg");
        color: white;
        text-align: center;
        margin: 0;
        padding: 80px 10px;
    }
        .Openhour h1{
            text-transform: uppercase;
            color: #00a89e;
        }

    .Gallery{
        background-color: white;
        text-align: center;
        padding: 30px;
    }
        .item{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 5px;
        }
        .item img{
            width: 150px;
            height: 150px;
            border-radius: 10px;
        }

    .Blog{
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("blog(2).jpg");
        background-size:cover;
        background-position:center;
        padding:80px 100px;
        color:white;
    }
        .blog-grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap:30px;
        }
        .blog-title{
            display:flex;
            flex-direction:column;
            justify-content:center;
        }
        .blog-title h2{
            color:#17cfc3;
            font-size:40px;
            letter-spacing:3px;
        }
        .blog-title h3{
            margin-top:10px;
        }
        .blog-card{
            border:1px solid rgba(255,255,255,0.2);
            padding:35px;
        }
        .blog-card h2{
            margin:15px 0;
        }
        .blog-card p{
            font-size:14px;
            line-height:1.6;
        }
        .date{
            font-size:12px;
            opacity:0.8;
        }
        .blog-card span{
            display:block;
            margin-top:25px;
            letter-spacing:3px;
            font-size:12px;
        }

    .Reviews{
        background:#f5f5f5;
        padding:80px;
        text-align: center;
    }
        .title{
            font-size:28px;
            margin-bottom:50px;
        }
        .review-container{
            display:flex;
            justify-content:center;
            gap:40px;
        }
        .review-card{
            background:white;
            padding:40px;
            width:300px;
            border-radius:6px;
            box-shadow:0 5px 15px rgba(0,0,0,0.1);
        }
        .review-card img{
            width:70px;
            height:70px;
            border-radius:50%;
            object-fit:cover;
            margin-bottom:15px;
        }
        .review-card h3{
            color:#00a89e;
            margin:10px 0;
        }
        .stars{
            color:gold;
            font-size:18px;
            margin-bottom:15px;
        }
        .review-card p{
            font-size:14px;
            color:#555;
            line-height:1.6;
        }
        .review-card span{
            display:block;
            margin-top:15px;
            color:#00a89e;
            font-weight:600;
        }

    .Chefs{
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("chef\ \(1\).jpg");
        background-size:cover;
        background-position:center;
        padding:100px 0;
        color:white;
        text-align:center;
    }
        .chef-title{
            margin-bottom:60px;
        }
        .chef-grid{
            display:grid;
            grid-template-columns:1fr 1fr;
            gap:60px;
            align-items:center;
            width:70%;
            margin:auto;
        }
        .chef-img img{
            width:100%;
            border-radius:4px;
        }

        .chef-text{
            text-align:center;
        }
        .role{
            color:#00c2a8;
            margin:8px 0;
            font-weight:600;
        }
        .chef-text p{
            font-size:14px;
            line-height:1.6;
        }

    .Contact{
    background:black;
    padding:80px 0;
    text-align:center;
    }
        .Contact h2{
            color:white;
            font-size:40px;
            margin-bottom:60px;
        }
        .contact-form{
            display:grid;
            grid-template-columns:1fr 1fr;
            gap:50px;
            width:900px;
            margin:auto;
        }
        .left{
            display:flex;
            flex-direction:column;
            gap:25px;
        }
        .left input{
            padding:18px;
            border:none;
            border-radius:8px;
            background:#ddd;
            font-size:16px;
            width:100%;
        }
        .right textarea{
            width:100%;
            height:200px;
            padding:18px;
            border:none;
            border-radius:8px;
            background:#ddd;
            margin-bottom:25px;
        }
        
    .Info{
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("info.jpg");
        background-size:cover;
        background-position:center;
        padding:80px 0;
        color:white;
    }
        .info-container{
            display:flex;
            justify-content:space-between;
            text-align:center;
            width:80%;
            margin:auto;
        }

        .info-item{
            width:30%;
        }

        .icon{
            font-size:40px;
            margin-bottom:20px;
        }

        .info-item h3{
            font-size:32px;
            margin-bottom:15px;
        }
        .info-item p{
            font-size:18px;
            line-height:1.6;
        }

    .footer{
        background:black;
        padding:40px 0;
    }
        .footer-container{
            width:85%;
            margin:auto;
            display:flex;
            align-items:center;
            justify-content:space-between;
            color:white;
        }
        .logo img{
            height:60px;
        }
        .copyright{
            font-size:18px;
        }
        .social{
            display:flex;
            gap:20px;
        }
        .social a{
            width:55px;
            height:55px;
            background:#18a999;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius:8px;
            color:white;
            font-size:22px;
            text-decoration:none;
        }